body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;
}

button{
    margin-top: 10px;
    background-color: green;
    color: white;
    border: 2px solid #5f9341;
    padding: 10px 20px;
    font-weight: bold;
}

#delete-btn{
    background-color: white;
    color: green;
}

#restore-btn{
    background-color: aqua;
    color: blue;
}

input{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid green;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

li{
    margin-top: 5px;
}

li a{
    color: #5f9341;
}