body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

button{
    margin-top: 10px;
    background-color: #5f9341;
    color: white;
    border: #5f9341;
    padding: 10px 20px;
    font-weight: bold;
}

input{
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid green;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

li{
    margin-top: 5px;
}

li a{
    color: #5f9341;
}